[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ef"]
	path = ef
	url = https://github.com/cran/ef
[submodule "icesConnect"]
	path = icesConnect
	url = https://github.com/cran/icesConnect
[submodule "rct3"]
	path = rct3
	url = https://github.com/cran/rct3
